.message-author {
	font-weight: bold;
}

.message-date {
	color: gray;
	font-size: 0.7rem;
}

.message-list {
	height: 30rem;
	overflow: auto;
}

.error-label {
    position: absolute;
    height: auto;
    width: auto;
    margin-top: -1.3rem;
    color: red;
}
